* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: white;
}

h1 {
  margin: 20px;
  font-size: 30px;
}

h2 {
  font-size: 15px;
}

input, select {
  border: 1px solid white;
  background-color: #333;
  line-height: 0;
  font-size: 17px;
  width: 20%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: white;
  font-weight: 100;
  position: relative;
  z-index: 1;
}

#start{
  margin-top: 30px;
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

#start:hover {
  background-color: rgb(236, 236, 236);
}




#board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--sizeCols), 30px);
  grid-template-rows: repeat(var(--sizeRows), 30px);
  gap: 4px;
  background-color: #777;
}

#board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #BBB;
  user-select: none;
}

#board > [data-hidden = "true"] {
  background-color: #BBB;
  cursor: pointer;
}

#board > [data-hidden = "mine"] {
  background-color: red;
}

#board > [data-hidden = "false"] {
  background-color: none;
}

#board > [data-hidden="marked"] {
  background-color: yellow;
}

.tile {
  font-size: 15px;
}

/* .modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #333;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}  */
